{% extends "base.html" %}
{% block content %}

<h2 class="mb-3">Lista de Centros de Votación</h2>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Centro</th>
            <th>Distrito</th>
        </tr>
    </thead>
    <tbody>
        {% for c in centros %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.distrito }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
